@model FSSA.Models.Proposal

@{
    ViewData["Title"] = "Submit Proposal";
    ViewBag.ButtonLabel = "Submit";
    ViewBag.FormAction = "Create";
}

<h1>Make a New Proposal</h1>
@await Html.PartialAsync("_ProposalForm", Model)

