@model FSSA.Models.Proposal

@{
    ViewData["Title"] = "Modification Success";
}

<div class="alert alert-warning mt-4 mb-5 shadow-sm">
    <h4 class="alert-heading">Modification Success</h4>
    <p class="mb-0">
        You have successfully modified <strong>#@Model.Id "@Model.Title"</strong>.
    </p>
    <p class="mb-2">
        Tap the <b>‘View Proposal’</b> button below to view your changes in detail.
    </p>
</div>
<div class="d-flex justify-content-center mb-5">
    <a href="@Url.Action("Details", "Proposal", new { id = Model.Id })" class="btn btn-dark btn-sm shadow px-3 py-2 d-inline-flex align-items-center gap-2">
        <i class="bi bi-arrow-left" style="font-size: 1.2em;"></i>
        Inspect Proposal
    </a>
</div>