@model List<MyProposalViewModel>
@{
    ViewData["Title"] = "My Proposals";
}

<h2>My Proposals</h2>

@if (Model != null && Model.Any())
{
    foreach (var p in Model)
    {
        
        <table class="table mb-5" style="border: 1px solid #ccc; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
            <thead>
                <tr>
                    <th colspan="2">Proposal: @p.Title</th>
                </tr>
            </thead>
        <tbody>
            <tr>
                <th>Synopsis</th>
                <td>@p.Synopsis</td>
            </tr>
            <tr>
                <th>Project Level</th>
                <td>@p.ProjectLevel</td>
            </tr>
            <tr>
                <th>Estimated Completion Date</th>
                <td>@p.EstimatedCompletionDate</td>
            </tr>
        </tbody>
    </table>
    }

}
else
{
    <p>You haven't submitted any proposals yet.</p>
}
